body {
    background-color: #232323;
    color: white;
    margin: 0;    
}
#colorName {
    font-size: 200%;
}
.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20%;
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
}
#stripe {
    text-align: center;
    color: black;
    height: 30px;
    font-size: 15px;
    background-color: white;
    margin: 0 auto;
}
button {
    border: none;
    background: none;
    height: 100%;
    color: cornflowerblue;
    font-weight: 700;
    font-size: inherit;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}
button:hover {
    color: white;
    background-color: cornflowerblue;
}
#message {
    display: inline-block;
    width: 20%;
}
.selected {
    background-color: cornflowerblue;
    color: white;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    font-weight: 500;
    line-height: 1.1;
}
#container {
    max-width: 600px;
    margin: 20px auto;
}
#white {
    background-color: white;
    text-align: center;
    color: black;
}